# /.phpunit.cache
# /node_modules
# /public/build
# /public/hot
# /public/storage
# /storage/*.key
# /storage/pail
# /vendor
# .env
# .env.backup
# .env.production
# .phpactor.json
# .phpunit.result.cache
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /auth.json
# /.fleet
# /.idea
# /.nova
# /.vscode
# /.zed

# Laravel Specific
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/.env
.env.*
.env

# Laravel build
/public/hot
/public/build
.phpunit.result.cache
.phpunit.cache

# IDEs and Editors
/.idea
/.vscode
/.phpactor.json
/.fleet
/.zed

# System Files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml

# Others
/auth.json
/.nova
/storage/pail
